<div class="app-container">
  <div class="header">
    <h1>Тестовое задание (NPM Packages)</h1>
    <div class="controls">
      <input
        type="text"
        placeholder="Поиск пакетов..."
        [ngModel]="searchTerm"
        (ngModelChange)="onSearch($event)"
        class="search-input"
      />
      <button (click)="loadPackages()" class="reload-button"> <img src="/reload.svg" alt="иконка" width="25" height="25">
      </button>
    </div>
  </div>

  <div class="packages-container">
    <app-package-card
      *ngFor="let pkg of filteredPackages"
      [package]="pkg"
      [isHighlighted]="highlightedPackageId === pkg.id"
      [isDependency]="isDependency(pkg.id)"
      (hover)="onPackageHover($event)"
    ></app-package-card>
  </div>
</div>

